<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Matches Won</th>
            <th>Legs Won</th>
            <th>Legs Lost</th>
            <th>Legs +/-</th>
            <th>Matches Played</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each players}}
        <tr>
            <td>{{addOne @index}}</td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{matches_won}}</td>
            <td>{{legs_won}}</td>
            <td>{{legs_lost}}</td>
            <td>{{leg_plus}}</td>
            <td>{{matches_played}}</td>
            <td>{{points}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



  <div class="editButton"><a href="/register/match">Add Match</a></div>

<body>
    <h1>Spelschema</h1>
    <table>
        <tr>
            <th>Game Week</th>
            <th>Matcher</th>
            <th>Spelare som står över</th>
        </tr>
        <tr><td>GW1</td><td>Libbe vs Blau<br>Dave vs Kappe<br>Torre vs Affe</td><td>Snabben</td></tr>
        <tr><td>GW2</td><td>Torre vs Libbe<br>Blau vs Dave<br>Kappe vs Snabben</td><td>Affe</td></tr>
        <tr><td>GW3</td><td>Blau vs Torre<br>Snabben vs Affe<br>Kappe vs Libbe</td><td>Dave</td></tr>
        <tr><td>GW4</td><td>Blau vs Affe<br>Torre vs Kappe<br>Dave vs Snabben</td><td>Libbe</td></tr>
        <tr><td>GW5</td><td>Torre vs Dave<br>Blau vs Snabben<br>Affe vs Libbe</td><td>Kappe</td></tr>
        <tr><td>GW6</td><td>Libbe vs Snabben<br>Kappe vs Blau<br>Dave vs Affe</td><td>Torre</td></tr>
        <tr><td>GW7</td><td>Snabben vs Torre<br>Libbe vs Dave<br>Affe vs Kappe</td><td>Blau</td></tr>
        <tr><td>GW8</td><td>Affe vs Blau<br>Kappe vs Torre<br>Snabben vs Dave</td><td>Libbe</td></tr>
        <tr><td>GW9</td><td>Libbe vs Torre<br>Dave vs Blau<br>Snabben vs Kappe</td><td>Affe</td></tr>
        <tr><td>GW10</td><td>Blau vs Libbe<br>Kappe vs Dave<br>Affe vs Torre</td><td>Snabben</td></tr>
        <tr><td>GW11</td><td>Torre vs Blau<br>Affe vs Snabben<br>Libbe vs Kappe</td><td>Dave</td></tr>
        <tr><td>GW12</td><td>Torre vs Snabben<br>Dave vs Libbe<br>Kappe vs Affe</td><td>Blau</td></tr>
        <tr><td>GW13</td><td>Dave vs Torre<br>Snabben vs Blau<br>Libbe vs Affe</td><td>Kappe</td></tr>
        <tr><td>GW14</td><td>Snabben vs Libbe<br>Blau vs Kappe<br>Affe vs Dave</td><td>Torre</td></tr>
    </table>
</body>
</html>
